@import url(https://fonts.googleapis.com/css2?family=Faustina:wght@400;

600&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
span {
  font-family: "Faustina", serif;
}

h1 {
  text-transform: uppercase;
  padding: 20px 0;
}

h1,
h2 {
  font-weight: 600;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  height: 150px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px 0px 20px 5px #0000005e;
}

header .logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

header .logo img {
  max-height: calc(150px - 40px);
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 40px;
  list-style: none;
}

nav li {
  padding: 0 10px;
  text-transform: uppercase;
}

nav li a {
  text-decoration: none;
  color: #535151;
}

main {
  min-height: calc(100vh - 220px);
  background-color: #002d75;
  color: #fff;
  margin-top: 150px;
  padding: 50px 0;
}

main h2 {
  text-transform: capitalize;
  padding: 10px 0;
}

main .paste {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

main .paste .pasta {
  width: 33.3%;
  height: 215px;
  text-align: center;
  margin-bottom: 10px;
}

main .paste .pasta img {
  width: 95%;
  transition: width 0.35s ease-in-out;
}

main .paste .pasta img:hover {
  width: 100%;
}

footer {
  height: 70px;
}

footer .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

footer .container .logo img {
  height: 60px;
  margin: 5px 0;
}

