*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,li,p,span{
    // font-family: 'Faustina', serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-transform:uppercase;
    padding:20px 0;
}

h1,h2{
    font-weight: 600;
}

.container{ 
    width:80%;
    margin:0 auto;
}
