footer{
    height:70px;
    .container{
        @include flex(row,nowrap,space-between, center);
        .logo{
            width:50%;
            img{
                height: 60px;
                margin: 5px 0;
            }
        }
        nav{
            width:50%;
            @include flex(row,nowrap,flex-end, center);
        }
    }
}