@mixin flex($flex-direction,$flex-wrap,$justify-content,$align-items) {
    display:flex;
    flex-direction:$flex-direction;
    flex-wrap:$flex-wrap;
    justify-content:$justify-content;
    align-items:$align-items;
}